name: Pull request into main

on:
  pull_request:
    branches:
      - "main"
      - "dev"

jobs:
  initial-setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Node modules
        run: npm ci

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Lint
        run: npm run lint

      - name: Prettier
        run: npm run prettier:check
